{% extends 'base.html.twig' %}

{% block title %}Sommaire{% endblock %}

{% block main %}
    <h1 style="color: lime;">Sommaire</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Slug</th>
                <th>Description</th>
                <th>Créé le</th>
                <th>Modifier le</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.slug }}</td>
                <td>{{ post.content }}</td>
                <td>{{ post.createdAt ? post.createdAt|date('d M Y H:i:s') : '' }}</td>
                <td>{{ post.updatedAt ? post.updatedAt|date('d M Y H:i:s') : '' }}</td>
                <td class="d-flex">
                    <a class="btn btn-outline-success mx-1" href="{{ path('app_posts_show', {'slug': post.slug}) }}">Voir</a>
                    <a class="btn btn-outline-warning mx-1" href="{{ path('app_posts_edit', {'slug': post.slug}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Actuellement aucun article</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-primary" href="{{ path('app_posts_new') }}">Créer un nouvel article</a>
{% endblock %}
