{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block main %}

<div class="row m-0 p-0">
    <div class="col-12 col-lg-6 offset-lg-3 bg-primary rounded px-3 px-lg-5 py-2 mt-5">

        <h1 class="h2 col-12 text-primary text-center mt-4 mb-5">Connexion</h1>

        <form method="post">

            <div class="mb-4">
                <label for="inputEmail" class="form-label required">Renseignez ici votre Email :</label>
                <input type="email" id="inputEmail" name="email" class="form-control" value="{{ last_username }}" autocomplete="">        
            </div>

            <div class="mb-4">
                <label for="inputPassword" class="form-label required">Renseignez ici votre Mot de Passe :</label>
                <input type="password" id="inputPassword" name="password" class="form-control" autocomplete="">        
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-4">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <button class="btn btn-outline-info w-100 my-4" type="submit">Se Connecter</button>

            <a href="{{ path('app_main_home') }}" class="btn w-100 btn-outline-light w-100 mb-4">Annuler</a>  

            <div class="col-12 mb-4">
                Pour vous inscrire : <a href="{{ path('app_register') }}" class="text-decoration-none link-primary">cliquez-ici</a>
            </div>

            {% if error %}
                <div class="alert alert-danger text-center text-uppercase">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}            

        </form>

    </div>
</div>    
{% endblock %}
